/*
  TYPOGRAPY
*/
$global-body-font-family: "Times New Roman", Times, serif;
$global-heading-font-family: Arial, Helvetica, sans-serif;
$global-body-font-size: 16px;
$global-body-font-weight: 500;
$global-font-weight-bold: 600;
$global-font-weight-medium: $global-body-font-weight;
